<div class="main-content">
  <div class="background">
</div>

<main>
  <div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h1 class="card-title text-center pb-0 fs-4">My Marathon</h1>
                  <p class="text-center small">Visualize and analyse your data</p>
                </div>

                <div class="row g-3">
                  <div class="col-12">
                    <button class="btn btn-primary w-100 strava-button" (click)="login()"><span>Login with</span><img src="../../../../assets/img/strava.png"></button>
                  </div>
                  <div class="col-12">
                    <button class="btn w-100 demo-button" (click)="showDemo()">Demo</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
