html, body
{
  min-height: calc(100vh - 70px) !important;
  padding: 0px !important;
  margin: -8px 0px !important;
}

@import "./styles/colors.scss";
@import "bootstrap";
@import "./styles/bootstrap.scss";
