.strava-button {
  border:0px;

  img {
    height: 20px;
    margin-left: 10px;
  }

  span {
    vertical-align: middle;
  }
}

.github-link {
  width: 75px;
  margin: 0 auto;
}

.demo-button {
  border-color: #012970;
  background-color: white;
  color: #012970;
  span {
    vertical-align: middle;
  }
}

hr {
  height: 1px;
  background-color: #012970;
  opacity: 1;
}

.btn-primary {
  background-color: #CC4200;
}
