.main-content {
  display: grid;
  align-items: center;
  height: 80vh;
  position: absolute;
  width: 100%;

  app-loading {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
}

:root {
  scroll-behavior: smooth;
}

html, body {
    height: 200%;
    margin: 0 auto;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #f6f9ff;
  color: #444444;
  min-height: 100%;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

#main {
  margin-top: 80px;
  padding: 20px 30px;
  transition: all 0.3s;
}
@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}
