.main-content {
  display: grid;
  align-items: center;
  height: 100vh;

  .background {
    display: block;
    top: 0;
    left: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.4) ), url('./../assets/img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -10;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
