<div class="container" [ngClass]="{'disabled': runs.length === 0}">
  <fa-icon class="trophy_img" [icon]="trophyIcon"
  [ngClass]="{
    'trophy_img_platinum': distanceType === distanceTypeEnum.Marathon,
    'trophy_img_gold': distanceType === distanceTypeEnum.SemiMarathon,
    'trophy_img_silver': distanceType === distanceTypeEnum.TenKilometer,
    'trophy_img_bronze': distanceType === distanceTypeEnum.FiveKilometer
  }" ></fa-icon><br/>
  <span class="badge rounded-pill bg-dark">{{runs.length}}x</span>
  <p>{{title}}</p>
</div>
