<div class="card">
  <div class="card-body">
    <h5 *ngIf="title" class="card-title">{{title}}</h5>
    <div class="activity">
      <div *ngFor="let run of runs" class="activity-item d-flex">
        <div class="activite-label">{{run.endtime | dateTimeDiff}}</div>
        <ng-container [ngSwitch]="run.distanceType">
          <i *ngSwitchCase="distanceType.Marathon" class='bi activity-badge text-muted align-self-start bi-trophy-fill trophy trophy_platinum'></i>
          <i *ngSwitchCase="distanceType.SemiMarathon" class='bi activity-badge text-muted align-self-start bi-trophy-fill trophy trophy_gold'></i>
          <i *ngSwitchCase="distanceType.TenKilometer" class='bi activity-badge text-muted align-self-start bi-trophy-fill trophy trophy_silver'></i>
          <i *ngSwitchCase="distanceType.FiveKilometer" class='bi activity-badge text-muted align-self-start bi-trophy-fill trophy trophy_bronze'></i>
          <i *ngSwitchDefault class='bi activity-badge text-muted align-self-start bi-circle-fill'></i>
        </ng-container>
        <div class="activity-content">{{(run.distance / 1000) | number: '1.2-2'}} km - {{run.name}}</div>
      </div><!-- End activity item-->
    </div>
  </div>
</div>
