
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

  <!-- <div class="d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <img src="assets/img/logo.png" alt="">
      <span class="d-none d-lg-block">My Marathon</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div> -->

  <!-- <div class="search-bar">
    <form class="search-form d-flex align-items-center" method="POST" action="#">
      <input type="text" name="query" placeholder="Search" title="Enter search keyword">
      <button type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>
  </div> -->

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">

      <a [ngClass]="{'disabled': isLoading || isRefreshDisabled}" [@isRefreshing]="isRefreshing" class="nav-link nav-icon" (click)="refresh()">
        <fa-icon [icon]="refreshIcon"></fa-icon>
      </a>

      <li class="nav-item dropdown pe-3">
        <a [ngClass]="{'disabled': isLoading}" class="nav-link nav-language d-flex align-items-center pe-0" href="" data-bs-toggle="dropdown">
          <fa-icon [icon]="flagIcon"></fa-icon>
        </a>

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow language">
          <li>
            <a class="dropdown-item d-flex align-items-center">
              <img (click)="switchLanguage('nl')" class="flag" src="../../../../../../assets/img/nl.svg">
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a (click)="switchLanguage('en')" class="dropdown-item d-flex align-items-center">
              <img class="flag" src="../../../../../../assets/img/gb.svg">
            </a>
          </li>

        </ul>
      </li>

      <li class="nav-item dropdown">

        <a [ngClass]="{'disabled': isLoading}" class="nav-link nav-icon" href="" data-bs-toggle="dropdown">
          <fa-icon [icon]="trophyIcon"></fa-icon>
          <span *ngIf="newTrophyRuns.length !== 0" class="badge bg-primary badge-number">{{newTrophyRuns.length}}</span>
        </a>

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
          <li class="dropdown-header">
            <span *ngIf="newTrophyRuns.length > 0">{{ 'trophies-new' | translate: { count: newTrophyRuns.length} }}</span>
            <span *ngIf="newTrophyRuns.length === 0" translate>trophies-no-new</span>

          </li>

          <ng-container *ngFor="let trophyRun of newTrophyRuns">
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="notification-item">
              <fa-icon class="trophy_img" [icon]="trophyIcon"
                [ngClass]="{
                  'trophy_img_platinum': trophyRun.distanceType === distanceTypeEnum.Marathon,
                  'trophy_img_gold': trophyRun.distanceType === distanceTypeEnum.SemiMarathon,
                  'trophy_img_silver': trophyRun.distanceType === distanceTypeEnum.TenKilometer,
                  'trophy_img_bronze': trophyRun.distanceType === distanceTypeEnum.FiveKilometer
                }" >
              </fa-icon>
              <div>
                <h4>{{trophyRun.name}}</h4>
                <p>{{(trophyRun.distance / 1000) | number: '1.2-2'}} km</p>
                <p>{{trophyRun.endtime | dateTimeDiff}} ago</p>
              </div>
            </li>
          </ng-container>

        </ul><!-- End Notification Dropdown Items -->

      </li><!-- End Notification Nav -->

      <li *ngIf="athlete" class="nav-item dropdown pe-3">

        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="" data-bs-toggle="dropdown">
          <img *ngIf="athlete.profile" [src]="athlete.profile" alt="Profile" class="rounded-circle">
          <img *ngIf="!athlete.profile" src="/../../../../../../assets/img/unknown_user.png" alt="Profile" class="rounded-circle">
          <span class="d-md-block dropdown-toggle ps-2">{{athlete.firstname}}</span>
        </a><!-- End Profile Iamge Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>{{athlete.firstname}} {{athlete.lastname}}</h6>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" (click)="signOut()">
              <i class="bi bi-box-arrow-right"></i>
              <span>Sign Out</span>
            </a>
          </li>

        </ul><!-- End Profile Dropdown Items -->
      </li><!-- End Profile Nav -->

    </ul>
  </nav><!-- End Icons Navigation -->

</header><!-- End Header -->
