<div class="container px-4 py-5" id="hanging-icons">
  <h2 class="pb-2 border-bottom">Trophies</h2>
  <div class="row g-2 py-2 row-cols-1 row-cols-sm-2 row-cols-lg-4">
    <app-trophy [distanceType]="distanceType.Marathon" [runs]="marathonRuns" ></app-trophy>
    <app-trophy [distanceType]="distanceType.SemiMarathon" [runs]="semiMarathonRuns" ></app-trophy>
    <app-trophy [distanceType]="distanceType.TenKilometer" [runs]="tenKilometerRuns" ></app-trophy>
    <app-trophy [distanceType]="distanceType.FiveKilometer" [runs]="fiveKilometerRuns" ></app-trophy>
  </div>
</div>
