<div class="container">
  <div class="row" [ngClass]="{'disabled': runs.length === 0}">
    <div class="col-2 trophy">
      <fa-icon class="trophy_img" [icon]="trophyIcon"
      [ngClass]="{
        'trophy_img_platinum': distanceType === distanceTypeEnum.Marathon,
        'trophy_img_gold': distanceType === distanceTypeEnum.SemiMarathon,
        'trophy_img_silver': distanceType === distanceTypeEnum.TenKilometer,
        'trophy_img_bronze': distanceType === distanceTypeEnum.FiveKilometer
      }" ></fa-icon><br/>
      <span class="badge rounded-pill bg-dark">{{runs.length}}x</span>
    </div>
    <div class="col trophy_stats">
      <h3> {{title}}</h3>
        <ng-container *ngIf="runs.length > 0 && mostRecentRun && fastestRun">
          <fa-icon class="stats-icon" [icon]="speedIcon"></fa-icon> <span><a [href]="'https://www.strava.com/activities/' + fastestRun.stravaId"  target="_blank" rel="noreferrer noopener">{{fastestRun?.average_speed | speed}}</a></span><br/>
          <fa-icon class="stats-icon" [icon]="calendarIcon"></fa-icon> <span><a [href]="'https://www.strava.com/activities/' + mostRecentRun.stravaId"  target="_blank" rel="noreferrer noopener">{{mostRecentRun.endtime | dateTimeDiff}}</a></span>
        </ng-container>
      <p *ngIf="runs.length === 0">Not yet achieved.</p>
    </div>
  </div>
</div>
